<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Login Dashboard">

 

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="com.goDeskless.listeners.CustomListeners"/>
    
    </listeners>

 


    
  <test name="Ticket Flow Test">
      <classes>
          <class name="com.goDeskless.testcases.TicketFlow"/>
      </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->